<div *ngIf="errorMessage" class="section_content alert alert-danger">
  <span>An error has been happened with the following information => {{errorMessage}}</span>
  <br/>
  <span>Please, try again in a few minutes. Thank you!</span>
</div>
<div *ngIf="!errorMessage && nextUrl" class="section_content alert alert-success">
  <p>
    You will be shortly redirected to the targeted URL. Thanks for using our services.
    In case you can't access, please, click in the following link
  </p>
  <a href="{{nextUrl}}" target="_self">{{nextUrl}}</a>
</div>
