<h2>Creation of new short URL form</h2>
<form #urlCreationForm="ngForm" (ngSubmit)="onFormSubmit(urlCreationForm)">
  <input id="newUrlLongCreationForm" name="newUrlLongCreationForm" type="text"
  #newUrlLongCreationForm="ngModel" (keyup.enter)="onFormSubmit(urlCreationForm)" [pattern]="patronUrl"
  placeholder="Type the URL which you want to short" required [(ngModel)]="newUrlLongModel">
  <div [hidden]="newUrlLongCreationForm.valid || newUrlLongCreationForm.pristine"
     class="alert alert-danger">
     <div [hidden]="!newUrlLongCreationForm.hasError('required')">Url is required</div>
     <div [hidden]="!newUrlLongCreationForm.hasError('pattern')">The url written is not right</div>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!urlCreationForm.valid" [disabled]="!newUrlLongCreationForm.valid">Add new Url</button>
</form>
