<h2>Formulario creación nueva URL Corta</h2>
<form #urlCreationForm="ngForm" (ngSubmit)="onFormSubmit(urlCreationForm)">
  <input id="newUrlLongCreationForm" name="newUrlLongCreationForm" type="text"
  #newUrlLongCreationForm="ngModel" (keyup.enter)="onFormSubmit(urlCreationForm)" [pattern]="patronUrl"
  placeholder="Introduzca la Url que desea acortar" required [(ngModel)]="newUrlLongModel">
  <div [hidden]="newUrlLongCreationForm.valid || newUrlLongCreationForm.pristine"
     class="alert alert-danger">
     <div [hidden]="!newUrlLongCreationForm.hasError('required')">1.Url is required</div>
     <div [hidden]="!newUrlLongCreationForm.hasError('pattern')">1.url pattern</div>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!urlCreationForm.valid" [disabled]="!newUrlLongCreationForm.valid">Add new Url</button>
</form>
