.sidenav-container {
  height: 100%;
}
.sidenav-content{
  height: 100%;
  padding:1em;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

mat-toolbar.mat-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

mat-sidenav.mat-sidenav.sidenav{
  box-shadow: 6px 0 6px rgba(0,0,0,.1);
}
